.headerSectionContainer{
    font-family: 'Abhaya Libre', serif;
    background-color: rgba(212, 194, 146, 1);
    width: 100vw;
    height: 15.2vh;
}
.overskriftHeaderSection{
    font: bolder;
    color: black;
    

}
.registerButtonHeaderSection{

}
.loginButtonHeaderSection{

}
.userButtonHeaderSection{

}
.cartIconHeaderSection{

}
.underskriftHeaderSection{

}
.userNameInputLoginDropdown{

}
.passwordInputLoginDropdown{

}
.loginSubmitButtonLoginDropdown{

}
.wrongUserLoginDropdown{

}
.forgotPasswordLoginDropdown{

}
#frontPageProductDisplay{
    border: #000000 solid 1px;
    background-color: white;
    
}

.frontPageProductDisplayElement{
    height: 350px;
    width: 650px;
    min-width: 650px;
    margin-top: 50px;
}

.frontPageRightArrow{
    height: 100%;
    background-color: #E7EBF6;
    width: 50px;
    display: inline-block;
}

.frontPageLeftArrow{
    height: 100%;
    background-color: #E7EBF6;
    width: 50px;
    display: inline-block;
}

.frontPagePriceDescLabel{
    font: bolder;
    font-family: 'Abhaya Libre', serif;
    color: #242354;
}

.frontPagePriceLabel{
    font: bolder;
    font-family: 'Abhaya Libre', serif;
    color: #242354;
}

.frontPageAddProductButton{
    background-color: #b493577a;
    font-family: 'Abhaya Libre', serif;
    font-weight: 700;
    border: #3C230C, 2px ,solid;
}

.frontPageGoToProductButton{
    background-color: #b493577a;
    font-family: 'Abhaya Libre', serif;
    font-weight: 700;
    border: #3C230C, 2px ,solid;
}

.frontPageProductImg{
    margin: 20px;
    height: 100px;
    width: 160px;
}

.frontPageProductHeader{
    font: bolder;
    font-family: 'Abhaya Libre', serif;
    color: #242354;
}

.frontPageProductDesc{
    font-family: 'Abhaya Libre', serif;
    color: #000000;
}

.frontPageCenterElem{
    background-color: #FFFAED;
    display: inline-block;
    height: 100%;
    width: 500px;
}

.CreateSaleContainer{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}


#productName { 
    grid-area: 1 / 1 / 2 / 5;
    
}
 
#productDescription{
    grid-area: 2 / 2 / 7 / 5;
}

#priceInput{
    grid-area: 1 / 5 / 2 / 6;
}
    
#categoryListContainer{
    grid-area: 7 / 4 / 9 / 5; 
}


#categoryMain{
    grid-area: 7 / 2 / 8 / 3;
}

#mainCategoryAdd{
    grid-area: 7 / 3 / 8 / 4;
}

#categorySub{
    grid-area: 8 / 2 / 9 / 3;
}

#subCategoryAdd{
    grid-area: 8 / 3 / 9 / 4;
}

#galleryFrame{
    grid-area: 9 / 2 / 13 / 5; 
}

#galleryInput{
    grid-area: 9 / 2 / 10 / 3;
}

#addImageButton{
    grid-area: 9 / 3 / 10 / 4;
}

#mainPicture{
    grid-area: 2 / 1 / 6 / 2;
}

#productId{
    grid-area: 1 / 6 / 2 / 7;
}

#aucionLabel{
    grid-area: 2 / 5 / 3 / 6;
}
#auctionBox{
    grid-area: 2 / 6 / 3 / 7;
}

#deadlineInput{
    grid-area: 3 / 6 / 4 / 7; 
}

#minimumBidInput{
    grid-area: 4 / 5 / 5 / 7;
}

#deliveryCheckBoxLabel{
    grid-area: 5 / 5 / 6 / 6;
}

#deliveryBox{
    grid-area: 5 / 6 / 6 / 7;
}

#saveButton{
    grid-area: 8 / 5 / 10 / 7;
}

#deadlineLabel{
    grid-area: 3 / 5 / 4 / 6;
}
 